<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description"
          content="Carte vanduta de Magazinul Cartianul">
    <meta name="keywords" content="magazinul, Cartianul, carte, detalii">

    <title><%- prod.nume %></title>

    <%- include("../fragmente/head") %>

    <!--CSS pagina individuala produs-->
    <link href="/resurse/css/produse/produs.css" type="text/css" rel="stylesheet"/>

</head>

<body>

<!--Navigator-->
<%- include("../fragmente/header") %>

<main>
    <section>
        <h2>Pagină carte</h2>

        <article id="art-produs">
            <h3><span class="nume"><%- prod.nume %></span></h3>

            <p>Autor: <span class="autor"><%- prod.autor %> </span></p>
            <p>Pret: <span class="pret"><%- prod.pret %> </span></p>
            <p>Descriere: <span class="descriere"><%- prod.descriere %> </span></p>
            <p>Numar de pagini: <span class="nr-pagini"><%- prod.nr_pagini %> </span></p>
            <p>Tip: <span class="tip"><%- prod.tip %> </span></p>
            <p>Categorie: <span class="categorie"><%- prod.categorie %> </span></p>
            <p>Genuri literare: <span class="genuri-literare"><%- prod.genuri_literare %> </span></p>
            <p>Coperta: <span class="coperta"><%- prod.coperta %> </span></p>
            <p>Pentru copii: <span class="pt_diabetici"><%- prod.pentru_copii %> </span></p>
            <p>Data adăugare: <span class="categorie"><%- prod.data_adaugare %> </span></p>

            <figure>
                <img src="/resurse/imagini/produse/<%- prod.imagine %>"
                     alt="[imagine <%- prod.nume %>]"/>
            </figure>

        </article>

    </section>
</main>

<%- include("../fragmente/footer") %>
</body>
</html>