<div id="container-galerie-animata">
    <section id="galerie-animata">
        <% for(let imag of imagini_galerie_animata) { %>
            <% if(imag.galerie_animata) { %>
                <figure>
                    <picture title="<%= imag.cc %>">
                        <source srcset="<%= imag.mic %>" media="(max-width:700px)">
                        <source srcset="<%= imag.mediu %>" media="(max-width:1200px)">
                        <source srcset="<%= imag.mare %>">
                        <img src="<%= imag.mare %>" alt="<%= imag.alt %>">
                    </picture>
                    <figcaption>
                        <%= imag.descriere %>
                    </figcaption>
                </figure>
            <% } %>
        <% } %>
    </section>
</div>